.contactsus {
    padding: 100px 0;
    background-color: #171616;
}

.form__row {
    display: flex;
    margin: 0 -20px;
}

.form__group {
    padding: 0 20px;
    flex: 1; // чтобы занимали все свободное пространство
    position: relative;
    margin-bottom: 30px;
}

.contactsus__form {
    max-width: 440px;
}

.input {
    width: 100%; //занимает 100% ширины от родителя
    padding: 10px 0;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: white;
    font-size: 15px;
    font-family: inherit;

}

.input:focus + .label {
    transform: translateY(-20px);
    font-size: 12px;
}
.input:not(:placeholder-shown) + .label {
    transform: translateY(-20px);
    font-size: 12px;
}




.label {
    letter-spacing: 0.15em;
    color:#FFF;
    position: absolute;
    top: 10px;
    left: 20px;
    pointer-events: none;
}

.textarea {
    min-height: 130px;
    width: 100%; //занимает 100% ширины от родителя
    padding: 10px 0;
    resize: vertical;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: white;
    font-size: 15px;
    font-family: inherit;
}

.textarea:focus + .label {
    transform: translateY(-20px);
    font-size: 12px;
}
.textarea:not(:placeholder-shown) + .label {
    transform: translateY(-20px);
    font-size: 12px;
}

.text-upper {
    text-transform: uppercase;
}