.process {
    background-color: #fff;
}

.process__title {
    margin-top: 84px;
    margin-bottom: 52px;
    font-style: normal;
    font-weight: 900;
    font-size: 148px;
    line-height: 150%;
    text-transform: uppercase;
}

.process__subtitle {
    margin-bottom: 92px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-transform: uppercase;

}
