.about {
    padding: 115px 0;
    background-color: #000;
}

.block__title.text-white {
    color: #fff;
    margin-bottom: 27px;
    padding-right: 30px;

}

.about__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__block {
    max-width: 505px;
}

.about__text {
    font-weight: 600;
    color: #B7B7B7;
    letter-spacing: 0.23em;
    margin-bottom: 48px;
    padding-right: 30px;
}

.about__link {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.about__img {
    max-height: 340px;
    background-repeat: no-repeat;
 
}