.intro {
    width: 100%;
    background: url('@img/intro_bg.jpg') no-repeat center;
    background-size: cover;

}

.intro__title {
    margin-top: -70px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    text-transform: uppercase;
    line-height: 150%;
    padding-bottom: 23px;;
}

.intro__content {
    max-width: 791px;
    height: 750px;
    display: flex;
    align-items: center;
    color: #fff;

}

.btn {
    width: 200px;
    height: 50px;
    display: flex;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    background: #DB2512;
    justify-content: center;
    align-items: center;
    outline: 0;
    border: 0;
    cursor: pointer;
        &:hover {
            background-color: #b33527;
            transition: background-color .3s ease;
        }

}