//сброс стилей
@import "reset";
//шрифты
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
// @import "fonts";
// иконочный шрифт
@import "icons";
// переменные
@import "variables";
// @import "normalize";
@import "variables";
// @import "mixins";

@import "blocks/header";
@import "blocks/intro";
@import "blocks/contacts";
@import "blocks/sectionServ";
// @import "blocks/tour";
// @import "blocks/top";
// @import "blocks/video";
// @import "blocks/footer";
@import "mediaQueries";

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

